DATABASE_URL="postgresql://idk:idk@localhost:5432/idk?schema=public"
POSTGRES_USER= "idk"
POSTGRES_PASSWORD= "idk"
POSTGRES_DATABASE= "idk"
POSTGRES_HOST= "localhost"
JWT_SECRET="idk"
JWT_EXPIRATION_TIME=7d